body {
  background-color: #AB88FF;
  margin: 0;
}
.header {
  background-color: #AB88FF;
  height: 80px;
  width: 100%;
}
.header__img {
  margin-left: 10px;
  margin-top: 10px;
  width: 200px;
}
.header__menu{
  margin-right: 30px;
}
.header__menu ul{
  /* display: none; */
  list-style: none;
  margin: 0px  0px, 0px, 14px
  padding: 0px;
  position: absolute;
  text-align: right;
  width: 100px;

}
.header__menu--profile{
  margin-right: 8px;
  width: 40px;
}